
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
:root{
    --universal-border:none;
    --section-container-bg-color:#282C35;
    --heading-h2:#BF8CF4;
    --heading-h2-font-size:1.2em;
    --list-bg-color:#536076;
    --list-item-color:#B1B9C8;
    --swiper-theme-color:#9040DD;
}
body{
 
    background-color:#16161d;
    color:white;
    font-family:Arial, Helvetica, sans-serif;

}
                                       /* Header Components  */
#logo{
    font-size:2.5em;
}  
.header{
    width: 100%;
    border: var(--universal-border);
    padding: 20px 8% 20px 10%;
    display:flex;
    justify-content: space-between;
    /* border:2px solid white; */
    position:relative;
}
#logo span{
    color:#9040DD ;
}  

#account-center{
    width: fit-content;
    height:fit-content;
    border:2px solid var(--list-bg-color);
    border-radius: 30px;
    padding-inline-start:10px;
   
    display:flex;
    justify-content:space-around;
    align-items:center;
    cursor: pointer;

    position:absolute;
    right:50px;


}
#account-center:hover{
    box-shadow:0px 0px 10px 0px #9040DD;
}
#account-center >p{
    width:fit-content;
    font-size:0.8em;
    color:var(--list-item-color);
}
#arrow-down-drop{
    height:2.3rem;
}

/* Account Center Drop Down section  */
#parent-of-container{
    position: relative;
    top:50px;
    right:70px;
}
#ACDD-main-container{
    height:fit-content;
    width:fit-content;
    border:0.5px solid white;
    border-radius:20px;
    position:absolute;
    z-index:10;
    background-color:var(--section-container-bg-color);

}
#ACDD-main-container >section{
    width:fit-content;
    padding-inline:20px;
    padding-block:10px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    cursor: pointer;
}
 #ACDD-main-container >#profile{
    border-bottom:0.1px solid var(--list-bg-color);
 }
#ACDD-main-container >section >img{
    height:1.7em;
    margin-left:10px;
}
#ACDD-main-container>section>p{
    color:var(--list-item-color);
   
}
