/* error page */

#error-page-main-container {
  width: 90%;
  height: 80%;
  margin: auto;
  border: 0.1px solid var(--list-bg-color);
  border-radius: 20px;
  text-align: center;
  padding: 50px;
}
#error-page-main-container > #epmc-sec-1 > h1 {
  font-size: 5.5em;
}
#error-page-main-container > #epmc-sec-1 > p {
  font-size: 1.2em;
}
#error-page-main-container > #epmc-sec-1 > :nth-child(3) {
  color: var(--list-item-color);
  margin-top: 5px;
}
#error-page-main-container > #epmc-sec-1 > :nth-child(4) {
  color: var(--list-item-color);
}

#epmc-sec-2 {
  height: 5%;
  width: 100%;
  margin-top: 20px;
}
#epmc-sec-2 > button {
  border: none;
  outline: none;
  background-color: #9040dd;
  padding: 15px;
  border-radius: 30px;
}
#epmc-sec-2 > button:hover {
  outline: 2px solid #9040dd;
  outline-offset: 2px;
}
#epmc-sec-2 > button > #link {
  text-decoration: none !important;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px;
}
#img-page-not-found {
  height: 15em;
}
