/* Header Components  */
#logo {
  font-size: 2.5em;
}
#logo:hover {
  cursor: pointer;
}
#logo span {
  color: #9040dd;
}

.header {
  /* outline: 0.1px solid var(--list-bg-color); */
  width: 100%;
  border: var(--universal-border);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .three-line {
  cursor: pointer;
}

#account-center {
  width: fit-content;
  height: fit-content;
  border: 2px solid var(--list-bg-color);
  border-radius: 30px;
  padding: 5px 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.2s linear;
}
#account-center:hover {
  box-shadow: 0px 0px 10px 0px #9040dd;
}
#account-center > p {
  width: fit-content;
  font-size: 0.8em;
  color: var(--list-item-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Account Center Drop Down section  */

#parent-of-container {
  position: absolute;
  right: 50px;
  top: 60px;
  box-shadow: 0px 0px 10px black;
  border-radius: 15px;
}

#ACDD-main-container {
  height: fit-content;
  width: fit-content;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  background-color: var(--section-container-bg-color);
}

#ACDD-main-container > section {
  width: fit-content;
  padding: 8px 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 0.1px solid var(--section-container-bg-color);
  border-radius: 15px;
}

#ACDD-main-container > section:hover {
  border: 0.1px solid var(--list-item-color);
  background-color: #16161d;
}

#ACDD-main-container > #profile {
  /* border-bottom:0.1px solid var(--list-bg-color); */
  border-top-left-radius: ;
  border-top-right-radius: ;
}

#ACDD-main-container > section > img {
  height: 1.7em;
  margin-left: 10px;
}
#ACDD-main-container > section > p {
  color: var(--list-item-color);
}

/* header responsiveness section */
@media only screen and (max-width: 750px) {
  #logo {
    display: none;
  }
  .header {
    padding: 18px 18px;
  }
}
